#Ignore the python environment & other similar stuff
/env_KMC
/__pycache__

#Ignore the vscode configuration
/.vscode
.DS_Store

#Ignore raw results (files are too big and there is too many of them.)
/raw_results
/tmp
/results_first_processing